@import "./../../main.scss";

.Biography {
  .Headshot {
    height: 20%;
    width: 20%;
    padding: 4% 4% 4% 12%!important;
  }

  .MemberInfo {
    float: right;
    padding: 50px 100px 0 0;
    font-family: $montserrat;
    color: $slate;

    .MemberName {
      font-size: 3rem;
      font-weight: bold;
    }
    .MemberPosition {
      font-size: 2rem;
      font-weight: regular;
    }
  }

  .BioParagraph {
    margin: 0 12%;
    font-size: 20px;
    line-height: 35px;
  }
}
