@import "../../main";

.statistics {
  background-color: $purple;
  border-width: 5em 2em 1em 2em;
  padding: 100px 100px 150px 100px;
  margin: 0;
  // width: 100%;

  .row {
    padding: 0 2em;
    width: 99%;
  }
  
  p {
    color: $violet;
    font-family: $montserrat;
    font-size: 1.7vw;
  }
  
  .rowWithFullWidth {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .stat-source{
    font-size: 15px;
    margin-top: 120px;
    position: absolute;
    right: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
    color: inherit;
  }
}
