@import "../../main";

.landing-content {
  background-color: $violet;
  color: white;
  height: 60vh;
  background-image: url(./../../../images/Mockup.png);
  background-size: cover;
  font-family: $montserrat;

  .landing-girl-image {
    width: 40%;
    max-width: 716px;
    height: auto;
    float: right;
    padding: 40px 80px 0px 0px;
  }
  
  .landing-title {
    font-family: $montserrat;
    font-size: 70px;
    font-weight: bold;
    line-height: 110px;
    color: white;
    padding: 8vh;
  }
  
  p {
    position: relative;
    bottom: 50px;
  }

  .landing-description {
    padding: 5vh;
    line-height: 50px;
    font-size: 35px;
  }

  .landing-button:hover {
    background-color: $mustard;
  }
  
  .landing-button {
    background-color: $teal;
    border-radius: 50px;
    color: $white;
    padding: 20px;
    width: 275px;
    display: block;
    position: relative;
    left: 190px;
    bottom: 55px;

    h1 {
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $white;
      display: inline-block;
    }
    
    a:hover {
      text-decoration: none;
      color: $white;
    }
  }
}
