@import "../../main";

.statistics {
  background-color: $purple;
  border-width: 5em 2em 1em 2em;
  margin: 0;
  // width: 100%;

  .row {
    padding: 0 2em;
    width: 99%;
  }
  
  p {
    color: white;
    font-family: $montserrat;
  }
  
  .rowWithFullWidth {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  
  .stat-source p{
    font-size: 0.5em;
    text-align: right;
  }
}
