@import "./../components/main.scss";

.team-title {
  background-color: $purple;
  border-radius: 30px;
  color: $violet;
  padding: 20px;
  margin: 4% 40%;
}

.meet-team {
  font-size: 30px;
  text-align: center;
}