@import "./../../main.scss";

.Team {
  display: inline-block;
}

.team-title {
  background-color: $purple;
  border-radius: 50px;
  color: $violet;
  padding: 20px;
  width: 275px;
  display: block;
  position: relative;
  left: 190px;
  bottom: 55px;
}

.meetteam {

font-size: 300px;
text-align: center;

}