@import url("https://use.typekit.net/upg4lus.css");

//Fonts
$montserrat: "Montserrat", sans-serif;

//Colors
$coral: #ff534f;
$neon: #363fff;
$slate: #082a44;
$mustard: #fcb14b;
$teal: #00b8b9;
$violet: #452081;
$purple: #c0bde0;
$white: #fff;

//Grids

//Styles
body {
  width: auto;
  height: 100vh;
  // display: flex;
  overflow-x: hidden;
  font-family: $montserrat;
  margin: 0;
}
// page
html {
  width: fit-content;
}
$breakpoints: (
  'small':  767px,
  'medium': 992px,
  'large':  1200px
) !default;

//Mixins https://css-tricks.com/snippets/sass/mixin-manage-breakpoints/
@mixin respond($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin flex($flex, $fallback-width: 20%) {
  -webkit-box-flex: $flex; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: $flex; /* OLD - Firefox 19- */
  -webkit-flex: $flex; /* Chrome */
  -ms-flex: $flex; /* IE 10 */
  flex: $flex;
  width: $fallback-width; /* Old syntax, otherwise collapses. */
}

@mixin display-flex() {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex; /* NEW - Opera 12.1, Firefox 20+ */
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}