@import "./../../main.scss";
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");

.About{
    width: auto; // 100vw causes mobile overflow
    margin: -10px 0 0 -10px;
    padding: 50px 100px 100px 100px;
    background: $violet;
    color: $white;
    border: auto 0;
    margin-left: 0;
    margin-right: 0;

    .Heading {
        margin-bottom: 44px;
        font-size: 60px;
        position: relative;
    }
  
    .Bullet {
        line-height: 40px;
        font-size: 30px;
        position: relative;
        left: 2vw;
    }
}