@import "../../main";

.mission-content {
  margin-top: 100px;

  .mission-girl {
    width: 100%;
    max-width: 463px;
    height: auto;
    float: left;
    margin: 0px 20px 50px 50px;
  }
  
  .mission-text {
    font-family: $montserrat;
    font-size: 2vw;
    line-height: 5vh;
    text-align: right;
    right: 50px;
    padding: 40px 40px 120px 40px;
    color: $slate !important;
  }
}

