@import "../../main";

.chart-text {
  fill: $violet;
  font-family: $montserrat;
  // transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.25em;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  color: $violet;
  font-size: 0.1em;
  text-transform: lowercase;
  text-anchor: middle;
  transform: translateY(0.9em);
}

.chart-icon {
  font-size: 0.25em;
  transform: translateY(1.2em);
  text-anchor: middle;
  font-weight: 900;
}
