@import url("https://use.typekit.net/upg4lus.css");

//Fonts
$montserrat: 'Montserrat', sans-serif;

//Colors
$coral: #FF534F;
$neon: #363FFF;
$slate: #082A44;
$mustard: #FCB14B;
$teal: #00B8B9;
$violet: #452081;
$purple: #C0BDE0;

//Grids
