@import "../../main";

.image-list__item {
  display: block;
  margin: 5px;
  max-width: 50px;
  height: 50px;
}

.rectangle {
  // height: 130px;
  // width: 630px;
  background-color: $violet;
  border-radius: 30px;
  padding: 10px 10px 50px 10px;
  margin: 60px 35%;
}

.rectangle p {
  color: white;
  font-family: $montserrat;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.image-list Img {
  width: 100%;
  height: auto;
}
