@import "../../main";

.image-list__item {
  display: block;
  margin: 5px;
  max-width: 50px;
  height: 50px;
}

.rectangle {
  // height: 130px;
  // width: 630px;
  background-color: $violet;
  border-radius: 30px;
  padding: 27px 10px 12px 10px;
  margin: 50px 35%;
}

.rectangle p {
  color: white;
  font-family: $montserrat;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.image-list Img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
  padding-bottom: 50px;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.specificimages {
text-align: center;

}