@import "../../main";

.image-list__item {
  display: block;
  margin: 5px;
  max-width: 50px;
  height: 50px;
}

.rectangle {
  // height: 130px;
  // width: 630px;
  background-color: $violet;
  border-radius: 30px;
  padding: 20px 10px 10px 10px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: fit-content;
  text-align: center;
  vertical-align: center;
  padding: 20px;
}

.rectangle p {
  color: white;
  font-family: $montserrat;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}

.image-list Img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50%;
  padding: 0 80px 50px 80px;
  text-align: center;
  @include respond("small") {
    width: 50%;
    height: auto;
  }
}

.specificimages {
  text-align: center;
}
